#contactTable tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

#contactTable {
    min-width: 500px;
    width: 52%;
    border: black;
    margin: auto;
    margin-bottom: 40px;
}

.contact-summary {
    margin-top: 40px;
}

#noResult, #error{
    display: none;
    width: 300px;
    margin: auto;
    text-align: center;
}

h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 40px;
}

.form-control {
    border-radius: 0px;
}

.search {
    margin: auto;
    text-align: center;
}

#search {
    width: 300px;
    margin: auto;
}

p {
    font-size: large;
    font-weight: bold;
    text-align: center;
}


body {
    font-family: 'Times New Roman', Times, serif;
}

.container-sm {
    border: 5px solid #4e8191;
    background-color: #a8d4df;
    padding: 35px;
    border-radius: 30px;
    max-width: 960px;
    margin-bottom: 40px;
} 

.btn {
    background-color: #fafafe;
    color: black;
    border: 1px solid #d4dbdf;
}

.btn:hover {
    background-color: #e1e1e1;
    color: black;
    border: 1px solid #b8bdc0; 
}