.btn {
    background-color: rgb(200,94,118) !important;
    color: white !important;
}

.container {
    background-color: rgb(27,108,131);
    border-radius: 30px;
    margin-bottom: 40px;
    padding: 40px !important;
    margin-top: 5rem;
    max-width: 900px; 
    margin-left: auto;
    margin-right: auto;
}

.title {
    color: rgb(244,186,146);
    text-align: center;
    margin-bottom: 30px !important;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://www.wowpatterns.com/assets/files/resource_images/colorful-abstract-neon-square-seamless-pattern.jpg");
}

.user-data-row {
    display: flex;
    margin-top: 40px !important;
}

.user-avatar {
    border: 5px solid rgb(200,94,118);
    border-radius: 10px;
}

.user-info {
    margin: 5px 0;
    font-size: 18px;
    color: white;
}

.scrollable-repo-list {
    max-height: 568.5px;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 5px; 
}

::-webkit-scrollbar-track {
    background-color:rgb(27,108,131);

}

::-webkit-scrollbar-thumb {
    background: rgb(200,94,118);
    border-radius: 6px;
}
  
.title {
text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}

.medium-2 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 1rem;
    box-sizing: border-box;
}

.large {
    flex: 0 0 58%;
    max-width: 58%;
}

.medium {
    flex: 0 0 66%;
    max-width: 66%;
}

.small {
    flex: 0 0 83%;
    max-width: 83%;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.search-box {
    display: flex;
}

.search-box input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-size: medium;
}

.search-box-append {
    display: flex;
}

.btn {
    padding: 0.375rem 0.75rem;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
}

#search-button {
    border: none;
    font-size: medium;
}

.card {
    background-color: #edfbff;
    border: 1px solid rgb(200,94,118);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px;
}

.card-title{
    margin-top: 1px;
}

.card p {
    margin-bottom: 30px;
    margin-top: -8px;
}

.user-avatar {
    width: 334px;
}

table {
    background-color: white;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    width: 342px;
}

.table th, .table td {
    padding: 10px;
    text-align: left;
    vertical-align: top;
    border: none;
}

.table tbody tr:nth-of-type(odd) {
    background-color: rgba(200, 94, 119, 0.121);
}


.error {
    background-color: #e37580;
    border-radius: 8px;
    padding: 20px;
    color: #800511;
}